
:root {
    --bg: #FFFFFF;
    --bg-light: #F7A3A2;
    --font: #422E39;
    --accent: #043D5D;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background: var(--bg);
    color: var(--font);
    font-family: "Lulo", sans-serif;
    font-size: 18px;
    font-weight: 600;
}

.center {
margin-top: 50px;
    text-align: center;

    

    
}

.container {
    position: absolute;
    top: 0px; left: 0px; bottom: 0px; right: 0px;
    margin: auto;
    height: 100px;
    width: 550px;
    padding: 20px;
    background: var(--bg-light);
    border-left: 3px solid var(--accent);
border-right: 3px solid var(--accent);
border-top: 3px solid var(--accent);
border-bottom: 3px solid var(--accent);
}

.container > div {
    margin-bottom: 20px;
    height: 20px;
}

.bot {
    margin-top: 100px;
    text-align: right;
    font-size: 3em;
}

.picture{
border: 3px solid var(--accent);
}
a {
    color: inherit;
    text-decoration: none;
}

a:before {
    content: ">\2000";
    color: var(--accent);
}
